 /* <------------------------------Header---------------------------------> */


 a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
}

.navLink a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 93, 18);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLink a:hover::after {
    width: 55%;
    margin: auto;
    margin-left: 0px;
}




#id1 {
    grid-area: a1;
}

#id2 {
    grid-area: a2;
    margin-left: 5px;
}

#idk {
    grid-area: ak;
}

#id3 {
    grid-area: a3;
}

#id4 {
    grid-area: a4;
}

#art {
    grid-area: art;
}

#id5 {
    grid-area: a5;
}

#id6 {
    grid-area: a6;
}

#id7 {
    grid-area: a7;
}

#id8 {
    grid-area: a8;
}

#id9 {
    grid-area: a9;
}

#id10 {
    grid-area: a10;
}

#id11 {
    grid-area: a11;
}

.subHeaderHr {
    grid-area: hr;
}

.subHeaderHr2 {
    grid-area: hr2;
}

.header>div {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: rgb(104, 102, 102);
    /* font-size: 10px; */
}

#idk {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 204, 110);
    font-size: 22px;
}

.noPrint {
    visibility: hidden;
}

.header {
    background-color: seashell;
    display: grid;
    grid-template-areas: 'a1 a2 . . . ak ak ak . . . a3 a4'
        '. hr hr hr hr hr hr hr hr hr hr hr hr'
        '. . . art a5 a6 a7 a8 a9 a10 a11 . . ';

}


@media screen and (max-width:800px) {
    .header {
        overflow: hidden;
        grid-template-areas: '. . . ak ak ak . . .'
            'hr hr hr hr hr hr hr hr hr'
            'a1 a2 . . . . . a3 a4'
            'hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2'
            '. art a5 a6 a7 a8 a9 a10 a11';
    }

    .noPrint {
        visibility: visible;
    }

}

.header {
    border-bottom: 2px solid rgb(201, 198, 198);
}


/* ----------------------------------------SECTION - 2 ----------------------------------------------*/

.section2 {
    background-color: lavenderblush;
    margin: 50px;
    padding: 50px;
    padding-left: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

@media screen and (min-width:800px) {
    #s2id2 {
        float: left;
    }

    #s2id3 {
        float: left;
        margin-left: 20px;
    }
}

.blue {
    color: blue;
}


/* --------------------------------------- section3 ------------------------------------------------------*/

.layout {
    background-color: cornsilk;
    width: auto;
    height: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 2px solid rgb(202, 198, 198);
    border-left: none;
    border-right: none;
}

.box1 {
    margin-right: 25px;
    margin-left: 50px;
    height: 600px;
    width: 40%;
    float: left;
}

.box1 img {
    height: 50%;
    width: 100%;
}

.box2 {
    /* background-color: white; */
    color: black;
    height: 150px;
    width: 80%;
    margin-left: 50px;
    /* padding: 10px; */

}

.col {
    height: 600px;
    width: 50%;
    float: left;
}

.box2 img {
    /* height: 70%; */
    /* height: 110px; */
    height: 75%;
    /* width: 60%; */
    /* width: 120px; */
    width: 40%;
    float: left;
    margin: 5px;
    margin-right: 20px;
}

#remind-me {
    height: 25px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
}

.icons>div {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid grey;
    float: left;
    text-align: center;
    /* color: white; */
    /* background-color: black; */
}

.small-size {
    font-size: 12px;
}

.flt-ryt {
    float: right;
    margin: 10px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid grey;
    /* float: left; */
    text-align: center;

}

@media screen and (max-width:800px) {
    .layout {
        clear: both;
        width: 100%;
        height: 1080px;
    }

    .box1 {
        width: auto;
        margin-bottom: 5px;
    }

    .col {
        margin-top: 0px;
    }

    .box2 {
        width: 500px;
        border-top: 2px solid rgb(235, 222, 111);
        margin: 5px;
    }

    .box2 img {
        height: 62%;
    }
}

.icons {
    float: left;
}

/* <------------------------------------section 4 ------------------------------------> */
.subscribe {
    background-color: #fff0df;
    clear: both;
    /* background-color: chartreuse; */
    height: 200px;
    padding: 30px;
    text-align: center;
    font-family: 'STIX Two Text', serif;
    border: 2px solid rgb(190, 184, 184);
    border-left: none;
    border-right: none;
    
}

.mail-box {
    width: 60%;
    height: 45px;
    margin-left: 20%;
    margin-right: 20%;
}

.mail-box div {
    float: left;
}

#mail {
    width: 70%;
    height: 100%;
}

#mail input {
    width: 100%;
    height: 100%;
}

#submit {
    width: 26%;
    height: 45px;
    margin-left: 2%;
    margin-right: 2%;
}

#submit button {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}

@media screen and (max-width:800px) {
    
}


/* <----------------------------------------SECTION 5 ---------------------------------------> */


.section5 {
    height: 700px;
    background-color: rgb(253, 247, 244);
    /* background-color: hotpink; */
    /* background-color:lightgoldenrodyellow; */
}

.explore {
    height: 80px;
    padding-top: 80px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(70, 68, 68);
}

.horizontal-line {
    width: auto;
    height: 2px;
    background-color: rgb(248, 222, 209);
    margin-left: 50px;
    margin-right: 50px;
}

.exploreBox {
    height: 600px;
    width: 20%;
    /* background-color: hotpink; */
    margin-left: 7%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.exploreBox img {
    height: 30%;
    width: 100%;
}

.sml {
    height: 40px;
    width: 80%;
    margin: auto;
    border: 0.1px solid rgb(61, 119, 228);
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: center;
    border-radius: 5px;
    overflow: visible;
}

#bg-blue {
    background-color: rgb(81, 48, 228);
    color: white;
}

.lblue {
    background-color: rgb(168, 192, 243);
}

.mrgn-lft {
    margin-left: 2%;
}

.shi {
    font-size: 18px;
}

.pdlft {
    padding-left: 5px;
}

.shi-font {
    font-size: 14px;
    font-family: 'Crimson Text', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'STIX Two Text', serif;
}

@media screen and (max-width:800px) {
    .exploreBox {
        clear: both;
    }

    .section5 {
        height: 1550px;
    }

    .exploreBox {
        width: 50%;
        height: 320px;
        margin-left: 15%;
        border-bottom: 2px solid rgb(238, 218, 180);
    }
}

/* <----------------------------------------Section 6 -------------------------------------> */

.publish {
    /* background-color:lightgoldenrodyellow; */
    background-color: rgb(255, 237, 235);
    margin: auto;
    height: 360px;
    /* width: 100%; */
    /* border-top: 2px solid rgb(206, 203, 203); */
    /* background-color: hotpink; */
    /* margin-top: 110px; */
    padding-top: 5%;
}

#publish_1{
    width: 44%;
    /* margin: 2%; */
    float: left;
    height: 96%;
    padding-left: 15px;
    /* height: 200px; */
    /* background-color: lawngreen; */
}

#publish_1 img {
    width: 90%;
    margin: 2%;
    float: left;
    height: 60%;

}

#publish_3{
    /* background-color: rgb(199, 24, 5); */
    background-color: rgb(255, 237, 235);
    width: 44%;
    margin: 2%;
    float: left;
    padding-left: 20px;
    border-left: 6px solid rgb(0, 128, 0);

}

@media screen and (max-width:800px) {
    
    #publish_1 {
        width: 95%;
    }

    #publish_3 {
        width: 95%;
        /* margin: 3%; */
    }

    .publish {
        height: 320px;
        /* padding-top: 10px; */
        margin-top: 10px;
        /* margin-bottom: 200px; */
    }

    #publish_1 img {
        height: 70%;

    }
}

/* <-----------------------------------------section 7 ----------------------------------> */


.publish_sec {
    height: 450px;
    clear: both;
    width: 92%;
    margin: 4%;
    margin-left: 6%;
    margin-right: 4%;
    border-top: 2px solid rgb(206, 203, 203);
    margin-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(255, 255, 234);
    ;
}

.publishsec_1 {
    width: 45%;
    margin: 1%;
    float: left;
}

.publishsec_1 div {
    height: 220px;
    padding-left: 15px;
    border-left: 6px solid rgb(0, 128, 0);
    background-color: rgb(241, 255, 255);
    /* background-color: hotpink; */
}

.publish_sec img {
    width: 98%;
    margin: 1%;
    height: 300px;
}

@media screen and (max-width:800px) {
    .publishsec_1 {
        width: 98%;
    }

    .publish_sec {
        height: 600px;
    }
}

/* <----------------------------------------- Section 8 ---------------------------------> */

.s7bold {
    font-weight: bold;
    font-size: 14px;
}

.common {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgb(252, 237, 249);
    /* background-color: rgb(158, 7, 128); */
    /* background-color: hsl(330, 100%, 99%); */
    width: 100%;
    /* margin: auto; */
    height: 350px;
    /* background-color: hotpink; */
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid rgb(216, 211, 211);
    /* margin-bottom: 30px; */

    /* background-color: hotpink; */
}

.common_row {
    height: 150px;
    width: 22%;
    /* margin: auto; */
    float: left;
    padding: 1%;
    /* margin-top: 30px; */
    /* padding-bottom: 30px; */
}

.common_row img {
    height: 100px;
    width: 90%;
}

.common_row p {
    font-size: 14px;
}


@media screen and (max-width:800px) {
    .common_row {
        height: 100px;
        width: 95%;
        padding: 2.5%;
        margin-top: 0px;
    }

    .common_row img {
        height: 120px;
        width: 35%;
        float: left;
        padding-right: 15px;
    }

    .common_row div {
        height: 100px;
        width: 60%;
        float: left;
    }

    .common {
        height: 580px;
        /* margin-top: 550px; */
    }
}



/* <----------------------------------------SECTION 9 CSS------------------------------------> */


.creator {
    clear: both;
    width: 90%;
    margin: auto;
    border-top: 2px solid rgb(209, 204, 204);
}

.creator>h5 {
    /* margin: 50px; */
    padding: 15px;
    margin-bottom: 5px;
}

.creator_div {
    float: left;
    width: 22%;
    margin: 1%;
    /* border: 2px solid red; */
    height: 460px;
}

.creator_img {
    height: 200px;
    width: 100%;
}

.lil_font {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.445);
}

@media screen and (max-width:800px) {
    .creator_div {
        width: 45%;
    }

    .creator {
        height: 480px;
    }
}

/* --------------------------------------Section 10 ------------------------------------ */

.section-10 h4 {
    padding: 30px;
    border-top: 2px solid rgb(219, 215, 215);
}

.corner_creator {
    height: 280px;
    width: 96%;
    margin: 2%;

    /* background-color: brown; */
}

.crnr1 {
    width: 45%;
    height: 80%;
    border: 1px solid rgb(219, 215, 215);
    float: left;
    margin: 2%;
}

.crnr1 img {
    padding: 2%;
    width: 40%;
    height: 180px;
    float: left;
}

.crnr1 div {
    /* padding: 2%; */
    width: 50%;
    height: 180px;
    float: left;
}

.s11blue {
    color: rgb(89, 89, 241);
    font-size: 14px;
}

@media screen and (max-width:800px) {
    .crnr1 {
        height: 200px;
        width: 95%;
    }

    .corner_creator {
        height: 500px;
    }
}

@media screen and (max-width:600px) {
    .crnr1 {
        border: none;
        border-top: 1px solid rgb(189, 186, 186);
    }

}


/* <----------------------------------------FOOTER------------------------------------> */

/* .fcontainer{
       margin-top: 500px;
 } */

.frow1 {
    height: 56px;
    padding-top: 10px;
    text-align: center;
    border: 2px solid rgb(201, 197, 197);
    border-top-color: gray;
    border-left: none;
    border-right: none;
    background-color: rgb(255, 237, 235);
    /* background-color: yellow; */
}

.r1elem1 {
    float: left;
    height: 40px;
    width: 10%;
    /* color: white; */
    /* background-color: blue; */
}

#f1id1 {
    margin-left: 10%;
}

#f1id2 {
    margin-right: 10%;
}

@media screen and (max-width:800px) {
    .frow1>.r1elem1 {
        clear: both;
        width: 100px;
    }

    #f1id1 {
        margin-left: 0%;
    }

    .frow1 {
        height: 320px;
        /* background-color: rgb(255, 0, 0); */
        /* border: none; */
        border-left: none;
        border-right: none;
        border-top-color: gray;
        margin-top: 380px;
    }
}

.frow2 {
    /* background-color: rgb(253, 246, 182); */
    background-color: black;
    color: rgb(223, 221, 221);
    height: 240px;
    /* background-color: turquoise; */
}

.footer-col {
    float: left;
    width: 24%;
    line-height: 1;
}

#fcol1 {
    margin-left: 14%;
}

#fcol2 {
    margin-right: 14%;
}

@media screen and (max-width:800px) {
    .frow2 {
        height: 256px;
        /* background-color: turquoise; */
    }

    /* .fcontainer{
       margin-top: 450px;
    }  */
}

.frow3 {
    height: 56px;
    /* background-color: rgb(253, 246, 182); */
    background-color: black;
    color: white;
    /* background-color: violet; */
    text-align: justify;
    text-align: center;
}

.frow3>div {
    float: left;
}

.fr3fcol1 {
    width: 40%;
    /* background-color:tomato; */
    height: 44px;
    text-align: left;
    margin-left: 10%;
}

.icons {
    width: 20%;
    /* background-color: rgb(99, 64, 224); */
}

.icons i {
    margin: 5%;
}

.dollar {
    width: 30%;
    /* background-color: thistle; */
}

.cntry {
    width: 25%;
    float: left;
    margin-left: 10px;
}

.cntry input {
    width: 96%;
    height: 40px;
    border: 2px solid rgb(201, 199, 199);
    border-radius: 0px;
}

.dlr {
    width: 65%;
    float: left;
}

.dlr input {
    width: 60%;
    height: 40px;
    /* margin: 2%; */
    border-radius: 0px;
    border: 2px solid rgb(201, 199, 199);
}

@media screen and (max-width:800px) {
    .frow3 {
        height: 210px;
    }

    .frow3>div {
        clear: both;
    }

    .dollar>div {
        clear: both;
    }

    .fr3fcol1 {
        width: 80%;
        margin-left: 20%;
    }

    .icons {
        width: 60%;
        padding-left: 16%;
        width: 150px;
    }

    .dollar {
        width: 100%;
        clear: both;
        padding-left: px;
    }

    .dlr {
        clear: both;
        width: 100%;
    }

    .cntry {
        clear: both;
        width: 62%;
        margin-left: 19%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.flRow {
    background-color: rgb(248, 246, 246);
    /* color: white; */
    height: 56px;
    /* background-color: yellow; */
    width: 100%;
    /* margin-left: 5%; */
    /* border: 2px solid rgb(175, 47, 47); */
    /* border-top-color: 2px solid rgb(126, 122, 122); */
}

.flRow>div {
    float: left;
    width: 15%;
}

.lrowcol {
    text-align: center;
}

#bold {
    border: 1px solid rgb(221, 215, 215);
}